<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.santanajcp.passwordmanager</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/passwordmanager/pm-custody</string>
    <string>serve-vault</string>
    <string>--bootstrap</string>
    <string>/Library/Application Support/PasswordManager/bootstrap</string>
    <string>--agent-socket</string>
    <string>/var/run/passwordmanager/agent.sock</string>
    <string>--human-socket</string>
    <string>/var/run/passwordmanager/human.sock</string>
    <string>--vault</string>
    <string>/Library/Application Support/PasswordManager/vault.sqlite3</string>
    <string>--device</string>
    <string>26262626262626262626262626262626</string>
  </array>
  <key>UserName</key>
  <string>_passwordmanager</string>
  <key>GroupName</key>
  <string>_passwordmanager</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>SoftResourceLimits</key>
  <dict><key>Core</key><integer>0</integer></dict>
  <key>HardResourceLimits</key>
  <dict><key>Core</key><integer>0</integer></dict>
  <key>Umask</key>
  <integer>63</integer>
</dict>
</plist>
